*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* SFONDO  */
body{
    height: 100vh;
    background:linear-gradient(to bottom, #009688 15vh, #DCDBD2 15vh) ;
}

.square{
    top: 5vh;
    left: 10vw;
}
/* USERS  */
.users{
    font-weight: 600;
    margin: 10px 0;
}
.users img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px; 
}

/* ICONS  */
.icons{
    text-align: end;
    margin: 15px 15px 0;
}
.icons i{
    margin: 0 5px;
    font-size: 20px;
}
.bottom i{
    margin: 0 30px;
    font-size: 1.5rem;
}

.banner i{
    padding: 10px;
    font-size: 25px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: white;
    color: aqua;
}
/* BACKGROUND  */
/* CHAT  */
.bg_grey{
    background-color: #EAEAEA;
}
.banner{
    background-color: #8EDAFC;
}
main .content-lg{
    background: url(../img/mine.jpg);
    background-repeat: repeat;
}




/* MISURE DA ELIMINARE DOPO MESSO IL CONTENUTO  */
 .bottom{
    width: 100%;
    background-color: beige;
    position: absolute;
    bottom: 0;
    height: 65px;
}

main .content, main .content-lg{
    position: relative;
    height: 700px;
}

.content{
    width: 30vW;
    border: 1px solid black;
}
.content-lg{
    width: 50vW;
    border: 1px solid black;
}

.banner{
    /* height: 75px; */
} 
