*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* SFONDO  */
body{
    height: 100vh;
    background:linear-gradient(to bottom, #009688 15vh, #DCDBD2 15vh) ;
}
.bg_grey{
    background-color: #EAEAEA;
}
.banner{
    background-color: #9BEAFF;
}
.bg_lightgreen{
    background-color: #D5F9BA;
}
.bg_dark{
    background-color: rgb(200, 200, 200);
}

.square{
    top: 5vh;
    left: 10vw;
}

/* ICONS  */
.icons{
    text-align: end;
    margin: 15px 15px 0;
}
.icons i{
    margin: 10px 5px;
    font-size: 20px;
}
.bottom i{
    margin: 0 30px;
    font-size: 1.5rem;
}

.banner i{
    padding: 10px;
    font-size: 25px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 5px;
    background-color: white;
    color: #9BEAFF;
}


/* USERS  */
.users{
    font-weight: 500;
    padding: 10px 0;
    position: relative;
}
.users img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px; 
}
.users-chat{
    height: calc(100% - 75px - 60px);
    cursor: pointer;
}
.users .position-absolute{
    right: 5px;
    top: 5px;
}
/* CHAT  */
main .content-lg{
    background: url(../img/mine.jpg);
    background-repeat: repeat;
}
.chat{
    height: calc(100% - 65px);
}

/* MESSAGE  */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.message.bg_lightgreen{
    padding: 15px;
    margin-top: 10px;
    border-radius: 20px;
    float: right;
}
.message.bg-light{
    padding: 15px;
    border-radius: 20px;
    margin-top: 10px;
    float: left;
}
.message{
    position: relative;
    width: 200px;
}
.menu{
    display: none;
    font-size: 15px;
}
.list_menu{
    background-color: #fff;
    position: absolute;
    top: 80%;
    right: 0;
    display: block;
    z-index: 1;
}
.list_menu > li{
    padding: 10px;
    cursor: pointer;
    border: 1px solid rgb(200, 200, 200);
}
.list_menu > li:hover{
    background-color: rgb(198, 198, 198);
}
.message:hover .menu{
    display: inline-block; 
    position: absolute;
    right: 10px;
    top: 10px;  
}
.clearfix .position-absolute{
    bottom: 5px;
    right: 10px;
    color: grey;
    font-size: 10px;
}

/* search  */
.h-60{
    height: 60px;
    padding-top: 10px;
}

/* TEXT FORMAT  */
.text-sm{
    color: grey;
    font-size: 15px;
}
/* MISURE DA ELIMINARE DOPO MESSO IL CONTENUTO  */
 .bottom{
    width: 100%;
    background-color: beige;
    position: absolute;
    bottom: 0;
    height: 65px;
}

main .content, main .content-lg{
    position: relative;
    height: 700px;
}

.content{
    width: 30vW; 
}
.content-lg{
    width: 50vW;
}

.banner{
    height: 75px; 
} 

.pointer{
    cursor: pointer;
}
